{% extends 'base.html.twig' %} {% block title %}Recrutement - {{ parent() }}{% endblock %} {% block stylesheets %}
<link href="{{ asset('assets/css/recrutement.css') }}" rel="stylesheet"> {% endblock %} {% block body %}
<div class="page-title aos-init aos-animate" data-aos="fade">
    <div class="heading">
        <div class="container">
            <div class="row d-flex justify-content-center text-center">
                <div class="col-lg-8">
                    <h2 style="color: #fff !important; font-weight: 700;">{{ 'recruitment.title'|trans }}</h2>
                    <p class="mb-0">{{ 'recruitment.intro'|trans }}</p>
                </div>
            </div>
        </div>
    </div>
    <nav class="breadcrumbs">
        <div class="container">
            <ol>
                <li><a href="/">{{ 'breadcrumb.home'|trans }}</a></li>
                <li class="current">{{ 'breadcrumb.recruitment'|trans }}</li>
            </ol>
        </div>
    </nav>
</div>

<!-- Section 2: Pourquoi rejoindre Montessori Algérie -->
<section id="why-us" class="section why-us">
    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                    <h3>{{ 'whyus.title'|trans }}</h3>
                    <p>{{ 'whyus.intro'|trans }}</p>
                    <div class="text-center">
                        <a href="#" class="more-btn"><span>{{ 'whyus.button'|trans }}</span> <i
                                class="bi bi-chevron-right"></i></a>
                    </div>
                </div>
            </div><!-- End Why Box -->
            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="row gy-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
                    <div class="col-xl-4">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-clipboard-data"></i>
                            <h4>{{ 'whyus.item1.title'|trans }}</h4>
                            <p>{{ 'whyus.item1.text'|trans }}</p>
                        </div>
                    </div><!-- End Icon Box -->
                    <div class="col-xl-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-gem"></i>
                            <h4>{{ 'whyus.item2.title'|trans }}</h4>
                            <p>{{ 'whyus.item2.text'|trans }}</p>
                        </div>
                    </div><!-- End Icon Box -->
                    <div class="col-xl-4 aos-init aos-animate" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                            <i class="bi bi-inboxes"></i>
                            <h4>{{ 'whyus.item3.title'|trans }}</h4>
                            <p>{{ 'whyus.item3.text'|trans }}</p>
                        </div>
                    </div><!-- End Icon Box -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Section 2-->

<!-- Section: Nos Métiers -->
<section class="jobs-section" id="jobs">
    <div class="container" data-aos="fade-up">
        <h2 class="section-title text-center">{{ 'job.title'|trans }}</h2>

        <div class="row">

            <!-- Équipe Pédagogique -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img">
                        <img src="{{ asset('assets/img/recrutement.webp') }}" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">{{ 'job.team.education.title'|trans }}</a></h5>
                        <p class="fst-italic text-center">{{ 'job.team.education.desc'|trans }}</p>
                        <ul class="job-list">
                            <li>{{ 'job.team.education.roles.0'|trans }}</li>
                            <li>{{ 'job.team.education.roles.1'|trans }}</li>
                            <li>{{ 'job.team.education.roles.2'|trans }}</li>
                            <li>{{ 'job.team.education.roles.3'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Équipe Administrative -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img">
                        <img src="{{ asset('assets/img/recrt.jpg') }}" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">{{ 'job.team.admin.title'|trans }}</a></h5>
                        <p class="fst-italic text-center">{{ 'job.team.admin.desc'|trans }}</p>
                        <ul class="job-list">
                            <li>{{ 'job.team.admin.roles.0'|trans }}</li>
                            <li>{{ 'job.team.admin.roles.1'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Équipe HSE -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img">
                        <img src="{{ asset('assets/img/recrt2.avif') }}" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">{{ 'job.team.hse.title'|trans }}</a></h5>
                        <p class="fst-italic text-center">{{ 'job.team.hse.desc'|trans }}</p>
                        <ul class="job-list">
                            <li>{{ 'job.team.hse.roles.0'|trans }}</li>
                            <li>{{ 'job.team.hse.roles.1'|trans }}</li>
                            <li>{{ 'job.team.hse.roles.2'|trans }}</li>
                            <li>{{ 'job.team.hse.roles.3'|trans }}</li>
                            <li>{{ 'job.team.hse.roles.4'|trans }}</li>
                            <li>{{ 'job.team.hse.roles.5'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Extrascolaire -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img">
                        <img src="{{ asset('assets/img/recrt3.avif') }}" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">{{ 'job.team.extras.title'|trans }}</a></h5>
                        <p class="fst-italic text-center">{{ 'job.team.extras.desc'|trans }}</p>
                        <ul class="job-list">
                            <li>{{ 'job.team.extras.roles.0'|trans }}</li>
                            <li>{{ 'job.team.extras.roles.1'|trans }}</li>
                            <li>{{ 'job.team.extras.roles.2'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Équipe Santé -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img">
                        <img src="{{ asset('assets/img/recrt3.avif') }}" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">{{ 'job.team.health.title'|trans }}</a></h5>
                        <p class="fst-italic text-center">{{ 'job.team.health.desc'|trans }}</p>
                        <ul class="job-list">
                            <li>{{ 'job.team.health.roles.0'|trans }}</li>
                            <li>{{ 'job.team.health.roles.1'|trans }}</li>
                            <li>{{ 'job.team.health.roles.2'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Équipe Marketing -->
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="card">
                    <div class="card-img">
                        <img src="{{ asset('assets/img/recrt3.avif') }}" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title"><a href="#">{{ 'job.team.marketing.title'|trans }}</a></h5>
                        <p class="fst-italic text-center">{{ 'job.team.marketing.desc'|trans }}</p>
                        <ul class="job-list">
                            <li>{{ 'job.team.marketing.roles.0'|trans }}</li>
                            <li>{{ 'job.team.marketing.roles.1'|trans }}</li>
                            <li>{{ 'job.team.marketing.roles.2'|trans }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Call to Action -->
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h3 class="mb-4">{{ 'job.cta.title'|trans }}</h3>
                <a href="#" class="btn btn-primary btn-lg">{{ 'job.cta.button'|trans }}</a>
            </div>
        </div>
    </div>
</section>
<!-- End Section -->
{% endblock %} {% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        if (typeof AOS !== 'undefined') {
            const benefitsBoxes = document.querySelectorAll('.benefits-box');
            benefitsBoxes.forEach((box, index) => {
                box.setAttribute('data-aos', 'fade-up');
                box.setAttribute('data-aos-delay', `${index * 100}`);
            });
            AOS.init();
        }
    });
</script>
{% endblock %}